:root {
   --cor1: #172C3C;  /* sleep modeby annajak HEX 172C3C e RGB 23,44,60*/ 
   --cor2: #274862; /* zzzzzzz by annajak HEX 274862 e RGB 39,72,98*/ 
   --cor3: #995052;    /*slow heartbeatsby annajak HEX 995052 e RGB 153,80,82*/
   --cor4: #D96831;     /* falling asleepby annajak HEX D96831 e RGB 217,104,49*/
   --cor5: #E6B33D;  /*a new day will startby annajak HEX E6B33D e RGB 230,179,61*/
   --cor6: #2F2F53; /*Cor logo fundo HEX 2F2F53 e RGB 47,47,83*/
   --cor7: #FDCF0A; /*Cor logo fundo HEX FDCF0A e RGB 253,207,10*/
   --cor8: #056E87; 
   --cor10: #000000;
}
.bgcor1 {background-color: var(--cor1);}
.bgcor2  {background-color: var(--cor2);}
.bgcor3     {background-color: var(--cor3);}
.bgcor4 {background-color: var(--cor4);}
.bgcor5    {background-color: var(--cor5);}
.bgcor6    {background-color: var(--cor6);}
.bgcor8   {background-color: var(--cor8);}
.bgcor9   {
  background-image: url("imagem/bgceu.jpg");
  background-size: 100%; 
}
.bgcor10   {
  background-image: url("imagem/bg2.jpg");
  background-size: cover; /*https://www.freepik.com/free-photo/rear-view-woman-stretching-body-after-awakening-bed_3699872.htm#page=2&query=good%20dream&position=9&from_view=search&track=ais*/
  background-position: center;
  background-repeat: no-repeat;
}
.bgcor11   {
  background-image: url("imagem/bg3.jpg");
  background-size: cover; /*https://www.freepik.com/free-photo/rear-view-woman-stretching-body-after-awakening-bed_3699872.htm#page=2&query=good%20dream&position=9&from_view=search&track=ais*/
}


.txtcor1   {color: var(--cor7);}
.txtcor2 {color:  var(--10);}

body {
  height:100%; 
  width:100%;
}
header{
  border-radius: 5px;
  height: 100px;
  width: 1100px;
}

body {
  border-radius: 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
